.stackVertical {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
    flex-wrap: nowrap;
}

.stackHorizontal {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-auto-rows: min-content;
    gap: var(--a-spacing-4);
    width: 100%;
}

@media all and (max-width: 420px) {
    .stackHorizontal {
        grid-template-columns: 1fr;
    }
}

.radioBox {
    border-color: var(--a-border-alt-3);
    padding-inline: var(--a-spacing-4);
    padding-block: var(--a-spacing-1);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--a-border-radius-medium);
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s;
    min-width: 0;
    overflow-wrap: break-word;
}

.radioBox:hover {
    border-color: var(--a-border-action);
    background-color: var(--a-surface-hover);
}

.selected {
    border-color: var(--a-border-selected);
    background-color: var(--a-surface-selected);
}