.radioPanel {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--ax-border-default);
    border-radius: 0.25rem;
    display: block;
    position: relative;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: var(--ax-spacing-1) var(--ax-spacing-4);
}

.radioPanel:hover {
    border: 1px solid var(--ax-blue-500);
    box-shadow: var(--ax-shadow-medium);
    cursor: pointer;
}

.radioPanel:focus-visible {
    outline: var(--ax-border-action-selected) solid 1px;
}

.active {
    background-color: var(--ax-blue-100);
    border: 1px solid transparent;
}
