.kortContainer {
    width: 276px;
    background-color: #e7e9e9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    height: fit-content;
}