.innhold {
    margin: auto;
    width: min(50rem, 100%);
    max-width: 50rem;
}

.stegTittel {
    align-self: center;
}

.children {
    padding-inline: min(4rem, 5vw);
    padding-bottom: 4rem;
}

@media all and (max-width: 420px) {
    .children {
        padding-inline: 1rem;
    }
}