.stackVertical {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
    flex-wrap: nowrap;
}

.stackHorizontal {
    display: flex;
    flex-direction: row;
    gap: var(--a-spacing-4);
    flex-wrap: nowrap;
}

.radioBox {
    border-color: var(--a-border-alt-3);
    padding-inline: var(--a-spacing-4);
    padding-block: var(--a-spacing-1);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--a-border-radius-medium);
    flex-grow: 1;
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s;
}

.radioBox:hover {
    border-color: var(--a-border-action);
    background-color: var(--a-surface-hover);
}

.selected {
    border-color: var(--a-border-selected);
    background-color: var(--a-surface-selected);
}