.radioBox {
    display: flex;
    align-items: center;
    padding-inline: var(--a-spacing-4);
    padding-block: var(--a-spacing-1);
    height: 100%;
    border: 1px solid var(--a-border-alt-1);
    border-radius: 0.3rem;
    background-color: var(--a-bg-default);
    cursor: pointer;
    flex-grow: 1;
    transition: border-color 0.2s ease, background-color 0.2s ease;

    &:hover,
    &:focus-within {
        border-color: var(--a-border-action);
    }

    &:has(input[type="radio"]:checked) {
        background-color: var(--a-surface-selected);
        border-color: var(--a-border-selected);
    }
}
