.oppsummeringMedUndertitler :global(.spørsmål-og-svar) {
  margin-top: 1rem;
}

.oppsummeringMedUndertitler :global(.spørsmål-og-svar) :global(.aksel-body-short) {
  margin-top: 0.5rem;
}

.oppsummeringMedUndertitler hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
