.om-barnets-tilsynsbehov .aksel-label,
.om-barnets-tilsynsbehov .aksel-body-short,
.om-barnets-tilsynsbehov li {
  font-size: 1rem;
}
.om-barnets-tilsynsbehov .aksel-body-short,
.om-barnets-tilsynsbehov li {
  font-weight: 400;
}
