.checkboxPanel {
    width: 100%;
    background-color: var(--ax-bg-default);
    border: 1px solid var(--ax-border-default);
    border-radius: var(--ax-radius-4);
    padding: var(--ax-space-12) var(--ax-space-16);
}

.checkboxPanel:hover {
    border-color: var(--ax-accent-500);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.checkboxPanel:focus-within::after {
    inset: 0;
}

.checkboxPanel.active {
    background-color: var(--ax-bg-accent-soft);
    border-color: transparent;
}

.checkboxGroup :global(.aksel-checkboxes) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 1rem;
    padding-top: 1rem;
    margin-top: 0;
}
