.checkboxPanel {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--ax-border-default);
    border-radius: 0.25rem;
    display: block;
    position: relative;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin-bottom: var(--ax-spacing-4);
}

.checkboxPanel:last-child {
    margin-bottom: 0;
}

.checkboxPanel.active {
    background-color: var(--ax-blue-100);
    border: 1px solid transparent;
}

.checkboxPanel:hover {
    border: 1px solid var(--ax-blue-500);
    box-shadow: var(--ax-shadow-medium);
    cursor: pointer;
}

.checkboxPanel:focus-visible {
    outline: var(--ax-border-action-selected) solid 1px;
}

.checkboxPanel :global(.aksel-checkbox__label) {
    outline: none;
    padding: var(--ax-spacing-4);
}

.checkboxGroup :global(.aksel-fieldset__description) {
    margin-bottom: var(--ax-spacing-4);
}